fastapi
uvicorn
python-multipart
numpy
opencv-python-headless
h5py
scipy
torch
torchvision
pycolmap
git+https://github.com/cvg/Hierarchical-Localization.git
git+https://github.com/magicleap/SuperGluePretrainedNetwork.git
